<h1><%= @user.name %></h1>

<% @user_teams.each do |team| %>
	<div><%= image_tag team.image %></div>
	<div class=<%= team.name.downcase.gsub(" ", "-") %>><%= team.name %></div>
	<div><%= team.city %></div>
	<div><%= team.stadium %></div>
<% end %>

<div>

<div>AWAY TEAM <%= @away_team %></div>
<div>AWAY TEAM SCORE <%= @away_team_score %></div>
<div>HOME TEAM <%= @home_team %></div>
<div>HOME TEAM SCORE <%= @home_team_score %></div>
	
<% @away_pitchers.each do |player| %>
  <% if player["win"] == true %>
    <div>Winning Pitcher: <%= player["display_name"] %></div>
  <% elsif player["loss"] == true %>
    <div>Losing Pitcher: <%= player["display_name"] %></div>
  <% elsif player["save"] == true %>
    <div>Save: <%= player["display_name"] %></div>
  <% end %>
<% end %>

<% @home_pitchers.each do |player| %>
  <% if player["win"] == true %>
    <div>Winning Pitcher: <%= player["display_name"] %></div>
  <% elsif player["loss"] == true %>
    <div>Losing Pitcher: <%= player["display_name"] %></div>
  <% elsif player["save"] == true %>
    <div>Save: <%= player["display_name"] %></div>
  <% end %>
<% end %>

</div>




<%= link_to "Add a favorite team", teams_path %> |

<%= link_to "Create Fantasy Team", new_user_fantasy_team_path(@user) %>
